#exportPattern("^[[:alpha:]]+")
importFrom(ucminf, ucminf)
importFrom(graphics, abline, plot)
importFrom(stats, cov, sd, coef, glm, lm, pchisq, printCoefmat, qchisq, runif, uniroot)
importFrom(stats, lowess, model.frame, model.matrix, na.pass)
importFrom(graphics, lines)
importFrom(Formula, Formula, model.part)
export(mra)
S3method(plot, mra)
S3method(summary, mra)
S3method(vcov, mra)
S3method(print, summary.mra)
S3method(mra, default)
